<div id="map"></div> @*Gjør at det er mulig å vite hvor kartet skal settes, siden IDen*@

@section Scripts {
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
    <script>  //Her lages kartet, også siden IDen er satt fra tidligere, her kommer også de forskjellige kartene og blir lagt til i kartet
        const map = L.map('map').setView([60.472, 8.4689], 5);

        const topo = L.tileLayer(
          'https://cache.kartverket.no/v1/wmts/1.0.0/topo/default/webmercator/{z}/{y}/{x}.png',
          { attribution: '© Kartverket' }
        ).addTo(map);

        const graatone = L.tileLayer(
          'https://cache.kartverket.no/v1/wmts/1.0.0/topograatone/default/webmercator/{z}/{y}/{x}.png',
          { attribution: '© Kartverket' }
        );

        L.control.layers({ "Topo": topo, "Gråtone": graatone }, {}).addTo(map);
    </script>
}
