@model Gruppe6Oppgave1.Web.Controllers.HomeSubmitModel
@{
    ViewData["Title"] = "Home Page";
}

<h1>Submit Coordinates</h1>

@if (!ViewData.ModelState.IsValid)
{
    <div>
        <h1>YOUR MODEL IS WRONG!!!!! 🤬🤬🤬🤬🤬🤬🤬</h1>
        <ul>
            @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
            {
                <li>@error.ErrorMessage</li>
            }
        </ul>
    </div>
}

<form method="post" asp-action="Index">
    <div>
        <label asp-for="NewLatitude">
            Latitude:
        </label>
        <input asp-for="NewLatitude" type="number" required step="0.000001" />
    </div>
    
    <div>
        <label asp-for="NewLongitude">
            Longitude:
        </label>
        <input asp-for="NewLongitude" type="number" required step="0.000001" />
    </div>
    
    <div>
        <button type="submit">
            Submit
        </button>
    </div>
</form>

@if (Model.AllReports.Count > 0)
{
    <div>
        <h2>Submitted Coordinates:</h2>
    
        <ul>
            @foreach (var report in Model.AllReports)
            {
                <li>Latitude: @report.Latitude, Longitude: @report.Longitude</li>
            }
        </ul>
    </div>
}